<div class="wrapper">

  <div class="card">
    <img src="/img/3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, iure laborum id vitae eius enim doloremque! At tempore iusto autem velit quas, voluptatem, fugit cumque, aspernatur voluptate delectus assumenda dolorem.</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Mercury</li>
      <li class="list-group-item list-group-item-primary">Venus</li>
      <li class="list-group-item list-group-item-secondary">Earth</li>
      <li class="list-group-item list-group-item-success">Mars</li>
      <li class="list-group-item list-group-item-danger">Jupiter</li>
      <li class="list-group-item list-group-item-warning">Saturn</li>
      <li class="list-group-item list-group-item-info">Uranus</li>
      <li class="list-group-item list-group-item-light">Neptune</li>
      <li class="list-group-item list-group-item-dark">Pluto</li>
    </ul>
  </div>

</div>

<style>
  .wrapper {
    width: 400px;
    max-width: 100%;
  }
</style>
