<p>
  You can use <a href="https://getbootstrap.com/docs/5.3/components/alerts/" target="_blank">Alerts</a> for the colored boxes within each cell.
</p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success">
        Full-width
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-success">
        8
      </div>
    </div>

    <div class="col-md-4">
      <div class="alert alert-warning">
        4
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="alert alert-danger">3</div>
    </div>

    <div class="col-md-9">
      <div class="alert alert-secondary">9</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="alert alert-primary">
        5
      </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-5">
      <div class="alert alert-primary">
        5
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="alert alert-success">
        Centered 8
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="alert alert-warning">
        Centered 10
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="alert alert-info">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info">2</div>
    </div>
  </div>

</div>
