<div class="d-flex justify-content-around mb-3">
  <div class="mx-2 p-2 bg-primary text-white">First</div>
  <div class="mx-2 p-2 bg-success text-white">Second</div>
  <div class="mx-2 p-2 bg-danger text-white">Third</div>
</div>

<hr>

<div class="d-flex">
  <div>
    <span>Inbox</span>
  </div>

  <div class="ms-auto">
    <span class="badge rounded-pill text-bg-danger">42</span>
  </div>
</div>

<hr>

<div class="w-25 px-5 py-3 shadow text-end lh-lg opacity-75 border-start border-info">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ad debitis iste minima molestiae repellat magni? Voluptas, odit voluptate quasi esse ea iure quibusdam error at architecto veritatis, beatae nihil?
</div>
